<%- include('header') -%>

<section id="content">
    <img id="content-logo" src="/static/img/logo_mrcoffee.png" alt="Mr. Coffee's logo with the text MR. COFFEE in black color">
    <h1><%= title %></h1>
    <h3 id="subTitle"><%= subTitle %></h3>
    <div id="users">
      <% for(let i = 0; i < users.length; i++) { %>
          <p>
            <strong>Firstname: </strong><%= users[i].firstname %>&nbsp;&nbsp; 
            <strong>Lastname: </strong><%= users[i].lastname %>
          </p>
      <% } %>
    </div>
    <div id="schedules">
      <% for(let i = 0; i < schedules.length; i++) { %>
          <p>
            <strong>Day: </strong><%= schedules[i].day %>&nbsp;&nbsp;
            <strong>Start at: </strong><%= schedules[i].start_at %>&nbsp;&nbsp; 
            <strong>End at: </strong><%= schedules[i].end_at %>
          </p>
      <% } %>
    </div>
    <%if(UserFormEnabled){%>
      <section class="form-submit" id="userSubmit">
        <form method="post" action="/users/new">
            <div id="form-input">
                <!-- Firstname -->
                <div class="label">
                    <label for="firstname">Firstname *:</label>
                    <label class="alert" id="alertFName"></label>
                    <br>
                </div>
                <input type="text" name="user[firstname]"><br>
                <!-- Lastname -->
                <div class="label">
                    <label for="lastname">Lastname *:</label>
                    <label class="alert" id="alertLName"></label>
                    <br>
                </div>
                <input type="text" name="user[lastname]"><br>
                <!-- Email -->
                <div class="label">
                    <label for="email">E-mail *:</label>
                    <label class="alert" id="alertEmail"></label>
                    <br>
                </div>
                <input type="email" name="user[email]"><br>
                <!-- Password -->
                <div class="label">
                    <label for="password">Password *:</label>
                    <label class="alert" id="alertPassword"></label>
                    <br>
                </div>
                <input type="password" name="user[password]"><br>
                <!-- Button -->
                <input type="submit" value="Submit" id="submitUser" class="p-font-size-medium">
            </div>
        </form>
      </section>
    <%}%>
    <%if(ScheduleFormEnabled){%>
      <section class="form-submit" id="scheduleSubmit">
        <form method="post" action="/schedules/new">
            <div id="form-input">
                <!-- User -->
                <div class="label">
                    <label for="userId">User *:</label>
                    <label class="alert" id="alertUserId"></label>
                    <br>
                </div>
                <!-- <input type="number" name="schedule[userId]"><br> -->
                <select class="inputTime" name="schedule[user]" id="schedule[user]">
                  <% for(let i = 0; i < userName.length; i++) { %>
                    <option value="<%= i %>">
                      <%= userName[i].firstname %>&nbsp;&nbsp;<%= userName[i].lastname %>
                    </option>
                    <% } %>
                </select>
                <!-- Day -->
                <div class="label">
                    <label for="day">Day *:</label>
                    <br>
                </div>
                <input type="number" name="schedule[day]" min="1" max="7" value="1"><br>
                <!-- Start At -->
                <div class="label">
                    <label for="startAt">Start At *:</label>
                    <label class="alert" id="alertStartAt"></label>
                    <br>
                </div>
                <input type="number" name="schedule[startAt]" class="inputTime" min="1" max="12" value="9">&nbsp;&nbsp;&nbsp;&nbsp;
                <select class="inputTime" name="schedule[startAMPM]" id="schedule[startAMPM]">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
                </select>
                <br>
                <!-- End At -->
                <div class="label">
                    <label for="endAt">End At *:</label>
                    <label class="alert" id="alertEndAt"></label>
                    <br>
                </div>
                <input type="number" name="schedule[endAt]" class="inputTime" min="1" max="12" value="5">&nbsp;&nbsp;&nbsp;&nbsp;
                <select class="inputTime" name="schedule[endAMPM]" id="schedule[endAMPM]">
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
                </select>
                <br>
                <!-- Button -->
                <input type="submit" value="Submit" id="submitSchedule" class="p-font-size-medium">
            </div>
        </form>
      </section>
    <%}%>
</section>
    
<%- include('footer') -%>